<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- information css -->
    <link rel="stylesheet" href="../../css/income.css">
    <!-- link admin.css -->
    <link rel="stylesheet" href="../../css/admin.css">
    <title>Shotter-Shondhane Users</title>
    <style>
        .adminactive {
            width: 0%;
            transition: 0.3s;
        }

        .adminacright {
            width: 100%;
            transition: 0.3s;
        }
    </style>
</head>

<body>
    <div class="admin">
        <div class="admin-left">
            <%-include("../partials/amleft")%>
                <!-- menu -->
        </div>
        <div class="admin-right">
            <!-- top header -->
            <%-include("../partials/amheader.ejs")%>
                <!-- add user -->
                <div class="income-showsec">

                    <div class="income-add">
                        <h1>Add Collection</h1>
                        <form action="/admin/incomeupdate/<%=data._id%>" method="POST">
                            <input type="text" placeholder="Type" name="type"value="<%=data.type%>" required><br>
                            <input type="text" placeholder="Source" name="source"value="<%=data.source%>" required><br>
                            <input type="number" placeholder="Amount" name="amount"value="<%=data.amount%>" required><br>
                            <input type="number" placeholder="Member Code" name="membercode"value="<%=data.membercode%>" required><br>
                            <%if(typeof message !=="undefined" ){%>
                                <p id="updatetext">
                                    <%=message%>
                                </p>
                                <%}%>
                                    <button>Update <i class='bx bxs-right-arrow-square'></i></button>
                        </form>
                    </div>
                    <!-- all income information -->


                    <!-- all income information -->

                </div>
                <!-- add user -->
        </div>
    </div>


    <script src="../js/sidebar.js"></script>
</body>

</html>